# API keys and secrets
frontend-react/.env

# Dependency directory
frontend-react/node_modules
backend-node/node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db
frontend-react/package-lock.json
backend-node/package-lock.json

# Sublime Project Files
*.sublime-*