# API keys and secrets
frontend-context/.env
frontend-react/.env
frontend-redux/.env

# Dependency directory
frontend-context/node_modules
frontend-redux/node_modules
frontend-react/node_modules
backend-node/node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db
frontend-context/package-lock.json
frontend-react/package-lock.json
frontend-redux/package-lock.json
backend-node/package-lock.json

# Sublime Project Files
*.sublime-*