  .crud-container {
    max-width: 1200px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .crud-header-container {
    display : flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #aaa9ad ;
    margin-bottom: 20px;
  }

  .crud-header-container > span { 
    flex-grow: 1;
    text-align: right;
    margin-right: 50px;
  }
  
  .crud-header-container > div {
    display : flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 8px;
  }
  
  @media (min-width: 600px) {
    .content-section {
      padding: 60px 0;
    }
  }
  
  .flex-large {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .flex-row {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .flex-small,
  .flex-large {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }

  .flex-large:first-child {
    margin-right: 100px;
  } 
  
  /* Small screen breakpoint */
  @media (min-width: 600px) {
    .flex-small {
      flex: 1;
      margin-bottom: 0;
    }
    .flex-small.half {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    .flex-small.one-fourth {
      flex: 0 0 calc(1 / 4 * 100%);
    }
    .flex-small.three-fourths {
      flex: 0 0 calc(3 / 4 * 100%);
    }
    .flex-small.one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }
    .flex-small.two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }
  
  /* Large screen breakpoint */
  @media (min-width: 1000px) {
    .flex-large {
      flex: 1;
      margin-bottom: 0;
    }
    .flex-large.half {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    .flex-large.one-fourth {
      flex: 0 0 calc(1 / 4 * 100%);
    }
    .flex-large.three-fourths {
      flex: 0 0 calc(3 / 4 * 100%);
    }
    .flex-large.one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }
    .flex-large.two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }
  
  
  /**
   * Forms
   */
  [type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
    display: block;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0.75rem;
    outline: none;
    background: transparent;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    line-height: 1;
  }
  
  [type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
    border: 1px solid #c5c5c5;
  }
  
  [type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
    border: 1px solid #0366ee;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
  }
  
  textarea {
    overflow: auto;
    height: auto;
  }
  
  fieldset {
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 1rem;
    margin: 1.5rem 0;
  }
  
  legend {
    padding: 0 0.5rem;
    font-weight: 600;
  }
  
  select {
    color: #404040;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) right center no-repeat;
    line-height: 1;
  }
  
  select::-ms-expand {
    display: none;
    
  }
  
  [type='range'] {
    width: 100%;
  }
  
  label {
    font-weight: 600;
    max-width: 100%;
    display: block;
    margin: 1rem 0 0.5rem;
  }
  
  @media (min-width: 600px) {
    .split-form label {
      text-align: right;
      padding: 0 0.5rem;
      margin-bottom: 1rem;
    }
  }
  
  
  /**
   * Tables
   */
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
  }
  
  thead th {
    border-bottom: 2px solid #dedede;
  }
  
  tfoot th {
    border-top: 2px solid #dedede;
  }
  
  td {
    border-bottom: 1px solid #dedede;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5rem;
  }
  
  caption {
    padding: 1rem 0;
    caption-side: bottom;
    color: #ababab;
  }
  
  .striped-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
  }
  
  .contain-table {
    overflow-x: auto;
  }
  
  @media (min-width: 600px) {
    .contain-table {
      width: 100%;
    }
  }
  
  .table-container {
    height: 520px;
  }

  .table-header {
    display : flex;
    align-items: center;
  }

  .table-filter {
    display : flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
  }

  .table-filter > div > input {
    padding: 7px 10px;
    padding-left: 35px;
    border: 1px solid #aaa9ad ;
    background-image: url("/search-icon.png");
    background-size: 20px;
    background-position: 7px 5px;
    background-repeat: no-repeat;
    border-radius: 15px;
  }

  .table-filter > div > select {
    padding: 8px 10px;
    border: 1px solid #aaa9ad ;
    width: 150px;
  }

  td {
    line-height: 30px;
  }

  .table-pagination {
    display : flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .table-pagination > span {
    flex: 1;
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
  }
  .table-pagination > div  {
    width: 340px;
    text-align: center;
  }
  .table-pagination > div > .btn {
    width: 70px;
    border-radius: 15px;
    margin-right: 10px;
  } 

  .btn-table {
    background-color: white;
    color: #008CBA;
    border: 1px solid #ccc;
    border-radius: 15px;
  }

  .btn-table:hover {
    border: 1px solid #008CBA;
  }
  
  .btn-table:focus {
    outline: none;
  }

