.detailContainer {
  display : flex;
  flex-direction: column;
}

.detailHeader {
  width: 100%;
}

.detailContainer {
  display : flex;
  flex-direction: column;
  align-items: center;
}

.detailImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.detailBody {
  display : flex;
  flex-direction: column ;
  justify-content: center;
  width: 70%;
}
.detailName {
  display : flex;
  padding: 10px;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 600;
}
.detailContent {
  display : flex;
  flex-direction: row ;
  justify-content: center;
}
.leftContent {
  display : flex;
  flex-direction: column;
  width: 45%;
  height: 400px;
  max-height: 400px;
  padding: 10px;
}
.descriptionContent {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
}
.facilitiesContent {
  font-size: 11px;
  margin-top: 10px;
  display : flex;
  flex-flow: row wrap;
  /* align-content: space-around; */
}
.facilitiesItem {
  height: 18px;
  padding: 4px 14px;
  margin: 2px;
  color: white;
  background-color: green;
  border-radius: 15px;
}

.rightContent {
  display : flex;
  flex-direction: column;
  margin-left: 30px;
  width: 50%;
  height: 400px;
  max-height: 400px;
}

.mapContent {
  height : 100%;
}

.detailFooter {
  width: 70%;
  margin: 20px 10% 50px 10%;
  text-align: center;
}
