body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  display : flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.header-container {
  text-align: center;
  display : flex;
  flex-direction: row;
  justify-content: center;
  min-height: 60px;
  border-bottom: 2px solid #aaa9ad ;
}

.header-container > div {
  display : flex;
  align-items: center;
  align-content: center;
  margin-right: 10px;
}

.header-container > div > input {
  width: 250px;
  padding: 7px 10px;
  padding-left: 35px;
  border: 2px solid #aaa9ad ;
  background-image: url("/search-icon.png");
  background-size: 20px;
  background-position: 7px 5px;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.header-container > div > input:focus {
  outline: none;
}

.header-container > div > select {
  padding: 6px 10px;
  border: 2px solid #aaa9ad ;
}

.body-container {
  display : flex;
  flex-direction: row;
  height: calc(100vh-60px);
  max-height: calc(100vh-60px);
}

.left-container {
  display : flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
}

.right-container {
  width: 60%;
  max-width: 60%;
}

.content-map {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 92%;
  min-height: 92%;
}
.pagination {
  display: flex;
  /* justify-content: center;
  justify-items: center; */
  align-items: center;
  padding: 10px 15px 29px 0;
}

.pagination > span {
  width: 50%;
  font-size: 12px;
  text-align: center;
}
.pagination > div  {
  width: 50%;
  text-align: center;
}
.pagination > div > .btn {
  width: 70px;
}
.pagination > div > .btn:first-child {
  margin-right: 10px;
}
.item {
  display : flex;
  flex-direction: column;
  width: 45%;
  height: 280px;
  border: 1px solid #aaa9ad ;
  margin: 10px;
}
.image-map {
  text-align: center;
  height: 120px;
  max-height: 120px;
  width: 100%;
  object-fit: cover;
}

.item-body {
  font-size: 14px;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 5px 10px;
  min-height: 100px;
}

.item-body-title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.item-footer {
  text-align: right;
  padding: 10px ;
}

.item-footer > .btn {
  width: 100px;
}

.btn {
  background-color: #008CBA;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.data-empty {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin-right:10px;
}

.info-window-button {
  text-align: center;
}

.info-window-button > .btn {
  width: 70px;
}

.slick-slide {
  box-sizing: border-box;
}

.slick-slide img {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
  background-color: black;
  height: 35px;
  width: 36px;
  padding: 8px;
}

.slick-prev {
  left: -45px !important;
}

.slick-next {
  right: -45px !important;
}