.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.collapse-cell-title {
  border-bottom: none !important;
  vertical-align: top !important;
  font-weight: 600 !important;
  padding-bottom: 0px !important;
}

.collapse-cell-content {
  border-bottom: none !important;
  vertical-align: top !important;
  word-break : break-word;
  padding-bottom: 0px !important;
}

.MuiTouchRipple-root {
  margin-left: 15px;
}

.table-filter {
  display : flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.table-filter > div {
  margin: 20px;
  margin-bottom: 10px;
}

.table-filter > div:first-child {
  width: 40%;
}

.table-filter > div:last-child {
  width: 20%;
}